---
import Layout from "../layouts/Layout.astro";
import Inicio from "../components/Inicio.astro";
import Sobre from "../components/Sobre.astro";
import Habilidades from "../components/Habilidades.astro";
import Proyectos from "../components/proyectos.astro";
---

<Layout title="Angelito - Portfolio de un desarrollador" descriptcion="Mi portfolio de desarrollador web full stack">
	<main class="min-h-screen w-full lg:w-4/5 lg:mx-auto">
		<Inicio />
		<Sobre />
		<Habilidades />
		<Proyectos/>
	</main>
</Layout>
