<footer class="flex justify-center items-center mb-3">
    <div class="flex justify-center items-center sm:justify-between gap-5 rounded-lg px-2 sm:w-3/5 text-sm sm:text-lg">
        <p class="text-slate-400">@2023 Todos los derechos reservados</p>
        <p class="text-purple-400">{"<Angelito />"}</p>
    </div>
</footer>