---
import Carrusel from "./Carrusel.astro";
---

<section id="habilidades" class="py-24 px-5 sm:p-24">
    <h2 class="col-span-2 text-xl sm:text-3xl text-center text-sky-300">
        Mis habilidades
    </h2>
    <p class="text-md sm:text-xl text-center text-slate-500 my-6">
        Estas son algunas de las tecnologías que fuí aprendiendo tanto para la
        programación competitiva, el desarrollo web y la creación de
        aplicaciones hasta la actualidad
    </p>
    <Carrusel />
</section>


