<section id="sobre" class="grid grid-cols-1 sm:grid-cols-2 gap-14 py-24 px-7 sm:p-24">
    <h2 class="sm:col-span-2 text-xl sm:text-3xl text-center text-sky-300">Sobre Mí</h2>
    <p class="text-md sm:text-xl text-pretty">
        Soy un <span class="text-purple-400">joven</span> que desde chiquito me
        encantaba jugar y pasar el tiempo en la <span class="text-purple-400"
            >computadora</span
        >, poco a poco fui entrando en el mundo de la <span
            class="text-purple-400">programación</span
        > y adquiriendo conocimientos, actualmente soy estudiante con deseos de
        seguir mis estudios en la Universidad ejerciendo la carrera de <span
            class="text-purple-400">Ciencias de la Computación</span
        >.
    </p>
    <ul class="text-md sm:text-xl list-disc text-pretty">
        <li class="">Me gusta escuchar música en mis audifonos 🎧.</li>
        <li class="my-5">Me gusta la <span class="text-purple-400">programación competitiva</span> donde creo soluciones y resuelvo problemas 🧐.</li>
        <li class="my-5">
            Me gusta que mis proyectos llegen y le gusten a las personas ✌.
        </li>
        <li class="my-5">Estoy en proceso de aprender ingles ✨.</li>
        <li class="my-5">
            Me gustaría en el futuro ser una gran persona y desarrollador ❤️.
        </li>
    </ul>
</section>
